[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
django = "*"
pyparsing = "*"
pyvalem = {editable = true, path = "./../pyvalem"}
django_datatables_serverside = {editable = true, path = "./../django-datatables-serverside"}
mysqlclient = "*"
numpy = "*"
requests = "*"
lxml = "*"
pandas = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
