<!--
Requires in context:
  table_footer: bool
  ajax_url: str
  datatable_id: str
  scroller: bool
  columns: list[namedtuple('Column', 'heading model_field index visible searchable individual_search placeholder')]
  initial_order: list[namedtuple('Order', 'index dir')]
//-->

{% extends "base.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "datatables/datatables.css" %}"/>
{% endblock %}

{% block content %}
  <div class="table-responsive-md">
    <table class="table table-sm table-dark table-hover site-datatable" id="{{ datatable_id }}">
      <thead>
      <tr>
        {% for column in columns %}
          <th scope="col">{{ column.heading }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      </tbody>
      {% if table_footer %}
        <tfoot>
        <tr>
          {% for column in columns %}
            <th scope="col">
              {% if column.individual_search %}
                <label>
                  <input type="text" class="form-control form-control-sm w-100" placeholder="{{ column.placeholder }}">
                </label>
              {% else %}
                {{ column.heading }}
              {% endif %}
            </th>
          {% endfor %}
        </tr>
        </tfoot>
      {% endif %}
    </table>
  </div>
{% endblock content %}


{% block javascript %}

  <script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>

  {# initialise the datatable: #}
  <!--suppress JSDuplicatedDeclaration -->
  <script>
      $(document).ready(function () {
          const $datatable = $("#{{ datatable_id }}");

          $datatable.DataTable({

              // scroller or pagination?
              {% if scroller %}
                  autoWidth: true,
                  scrollY: '55vh',
                  deferRender: true,
                  scroller: true,
                  scrollCollapse: true,
              {% else %}
                  autoWidth: false,
                  pagingType: "numbers",
                  pageLength: 15,
                  lengthMenu: [[15, 30, 50, 100], ["15", "30", "50", "100"]],
                  fnDrawCallback: function (oSettings) {
                      if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                      } else {
                          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                      }
                  },
              {% endif %}

              stateSave: false,
              serverSide: true,
              ajax: {
                  url: "{{ ajax_url }}"
              },
              columns: [
                  {% for col in columns %}
                      {
                          name: "{{ col.model_field }}",
                          data: {{ col.index }}{% if not col.searchable %},
                          searchable: false{% endif %}{% if not col.visible %},
                          visible: false{% endif %}
                      },
                  {% endfor %}
              ],
              order: [
                  {% for col_sort in initial_order %}
                      [{{ col_sort.index }}, "{{ col_sort.dir }}"],
                  {% endfor %}
              ],

              // the column-specific searching functionality in the footer
              initComplete: function () {
                  // Apply the column search
                  this.api().columns().every(function () {
                      const that = this;

                      $('input', this.footer()).on('keyup change clear', function () {
                          if (that.search() !== this.value) {
                              that
                                  .search(this.value)
                                  .draw();
                          }
                      });
                  });
              },
          });
      });

  </script>

{% endblock javascript %}