{% autoescape off %}
  <a href="#" class="site-link" data-bs-toggle="modal" data-bs-target="#molecule-details-{{ molecule.slug }}">{{ molecule.html }}</a>
  <div class="modal fade" role="dialog" id="molecule-details-{{ molecule.slug }}" tabindex="0" aria-hidden="true" aria-labelledby="MoleculeDetails{{ molecule.slug }}">
    <div class="modal-dialog">
      <div class="modal-content bg-dark modal-details">
        <div class="modal-header">
          <h5 class="modal-title">Species details</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-7">Formula:</div>
            <div class="col-5">{{ molecule.html }}</div>
          </div>
          {% if molecule.number_atoms == 1 %}
          <div class="row">
            <div class="col-7">Isotope:</div>
            <div class="col-5">{{ molecule.isotopologue.html }}</div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-7">Isotopologue:</div>
            <div class="col-5">{{ molecule.isotopologue.html }}</div>
          </div>
          {% endif %}
          {% if molecule.number_atoms != 1 %}
          <div class="row">
            <div class="col-7">Resolves electronic states:</div>
            <div class="col-5">{% if molecule.isotopologue.resolves_el %}Yes{% else %}No{% endif %}</div>
          </div>
          <div class="row{% if not molecule.isotopologue.resolves_el %} hidden-element{% endif %}">
            <div class="col-7">Electronic ground state:</div>
            <div class="col-5">{{ molecule.isotopologue.ground_el_state_html }}</div>
          </div>
          <div class="row">
            <div class="col-7">Resolves vibrational states:</div>
            <div class="col-5">{% if molecule.isotopologue.resolves_vib %}Yes{% else %}No{% endif %}</div>
          </div>
          <div class="row{% if not molecule.isotopologue.resolves_vib %} hidden-element{% endif %}">
            <div class="col-7">Vibrational quantum labels:</div>
            <div class="col-5">{{ molecule.isotopologue.vib_quantum_labels_html }}</div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-7">Mass (Da):</div>
            <div class="col-5">{{ molecule.isotopologue.mass|floatformat:-5 }}</div>
          </div>
          <div class="row">
            <div class="col-7">States:</div>
            <div class="col-5">
              <a href="{% url 'state-list' molecule.slug %}" class="site-link">{{ molecule.isotopologue.number_states }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-7">Transitions:</div>
            <div class="col-5">
              <a href="{% url 'transition-list' molecule.slug %}" class="site-link">{{ molecule.isotopologue.number_transitions }}</a>
            </div>
          </div>
          {% if molecule.number_atoms == 1 %}
          <div class="row">
            <div class="col-7">Dataset name:</div>
            <div class="col-5">
              <a href="https://www.nist.gov/pml/atomic-spectra-database" class="site-link" target="_blank" rel="noopener noreferrer">{{ molecule.isotopologue.dataset_name }}</a>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-7">Exomol dataset name:</div>
            <div class="col-5">
              <a href="https://www.exomol.com/data/molecules/{{ molecule.slug }}/{{ molecule.isotopologue.iso_slug }}/{{ molecule.isotopologue.dataset_name }}" class="site-link" target="_blank" rel="noopener noreferrer">{{ molecule.isotopologue.dataset_name }}</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endautoescape %}
