:root {
    --accent-color: rgb(19, 143, 52);
    --border-color: rgb(10, 10, 10);
    --link-hover-color: rgba(19, 143, 52, 0.7);
    --header-footer-color: rgba(0, 0, 0, 0.3);
}

.accent-color {
    color: var(--accent-color);
    font-weight: bold;
}

.table > :not(:first-child) {
  border-top-color: var(--accent-color);
}

.elida-footer {
    background-color: var(--header-footer-color);
    border-top: 1px solid var(--border-color);
}

.elida-header {
    background-color: var(--header-footer-color);
    border-bottom: 1px solid var(--border-color);
}

.elida-link {
    color: var(--accent-color);
    text-decoration: none;
}

.elida-link:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}