.accent-color {
    color: rgb(19, 143, 52);
    font-weight: bold;
}

.table > :not(:first-child) {
  border-top-color: rgb(19, 143, 52);
}

.darker {
    background-color: rgba(0, 0, 0, 0.1);
}

.elida-link {
    color: rgba(19, 143, 52);
    text-decoration: none;
}

.elida-link:hover {
    color: rgba(19, 143, 52);
    text-decoration: none;
    font-weight: bold;
}