:root {
    --accent-color: rgb(19, 143, 52);
    --link-hover-color: rgba(19, 143, 52, 0.7);
}

.accent-color {
    color: var(--accent-color);
    font-weight: bold;
}

.table > :not(:first-child) {
  border-top-color: var(--accent-color);
}

.darker {
    background-color: rgba(0, 0, 0, 0.1);
}

.elida-link {
    color: var(--accent-color);
    text-decoration: none;
}

.elida-link:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}