:root {
    --accent-color: rgb(19, 143, 52);
    --accent-color-toned: rgba(19, 143, 52, 0.25);
    --border-color: rgb(10, 10, 10);
    --link-hover-color: rgba(19, 143, 52, 0.7);
    --header-footer-color: rgba(0, 0, 0, 0.3);
    --text-muted: #6c757d;
}

.hidden-element {
    display: none !important;
}

.site-accent {
    color: var(--accent-color);
    font-weight: bold;
}

.site-footer {
    background-color: var(--header-footer-color);
    border-top: 1px solid var(--border-color);
}

.site-header {
    background-color: var(--header-footer-color);
    border-bottom: 1px solid var(--border-color);
}

.site-link {
    color: var(--accent-color);
    text-decoration: none;
}

.site-link:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.site-datatable > thead > tr > th {
    padding-bottom: 0.35rem;
}

.site-datatable > tfoot > tr > th {
    padding-top: 0.65rem;
    border-bottom-width: 0;
}

.site-datatable > :not(caption) > * > * {
    white-space: nowrap;
}

.page-link {
    color: var(--accent-color) !important;
    border: 1px solid white !important;
    background-color: transparent !important;
}

.page-link:hover {
    background-color: var(--header-footer-color) !important;;
}

.page-link:focus {
    background-color: var(--header-footer-color);
    box-shadow: 0 0 0 0;
}

.page-item.active .page-link {
    background-color: var(--header-footer-color) !important;
    color: white !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color-toned);
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color-toned);
}

.modal-details > div > div {
    margin-bottom: 0.5rem;
}

.modal-details > div > div > div:first-child {
    font-weight: bold;
}
