{% extends "base.html" %}

{% block content %}
    {% autoescape off %}
        <div class="container pb-2">
            <h4 class="text-center">
                {% block detail_heading %}
                {% endblock detail_heading %}
            </h4>
        </div>
        <div class="table-responsive-lg pt-3">
            <table class="table table-sm table-borderless table-dark table-hover">

                <thead></thead>

                <tbody>
                {% block table_body %}
                {% endblock table_body %}
                </tbody>

            </table>
        </div>
    {% endautoescape %}
{% endblock content %}
