{% extends "base.html" %}

{% block content %}
  {% autoescape off %}
    <div class="table-responsive-md pt-3">
      <table class="table table-sm table-borderless table-dark table-hover elida-details-table">
        <thead>
        <tr>
          <th scope="col" class="pb-2">
            <h4>{{ object.model_name }} details:</h4>
          </th>
          <th scope="col" class="pb-2">
            <h4>{{ object.html }}</h4>
          </th>
        </tr>
        </thead>
        <tbody>
        {% block table_body %}
        {% endblock table_body %}
        </tbody>
      </table>
    </div>
  {% endautoescape %}
{% endblock content %}
