{% extends "base.html" %}

{% block content %}
  {% autoescape off %}
    <div class="container pb-2">
      <h4 class="text-center">
        {{ table_heading }}
      </h4>
    </div>
    <div class="table-responsive-md">
      <table class="table table-sm table-dark table-hover elida-datatable" id="elida-datatable">
        {% block table %}
        {% endblock table %}
      </table>
    </div>
    {% block table_rows_details %}{% endblock %}
  {% endautoescape %}
{% endblock content %}

{% block datatable_scripts %}
  {# datatable and jquery js cdns: #}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
  {# initialise the datatable: #}
  <script>
      $.extend(true, $.fn.dataTable.defaults, {
          pagingType: "numbers",
          {# hiding the pagination if only one page: #}
          fnDrawCallback: function (oSettings) {
              if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                  $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                  $(oSettings.nTableWrapper).find('.dataTables_info').hide();
              } else {
                  $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                  $(oSettings.nTableWrapper).find('.dataTables_info').show();
              }
          },
          stateSave: false,
          lengthChange: true,
          autoWidth: true,
          pageLength: 20,
          lengthMenu: [[20, 50, 100], ["20", "50", "100"]]
      });
  </script>
  {% block datatable_settings %}{% endblock datatable_settings %}
{% endblock datatable_scripts %}