{% extends "base_detail.html" %}

{% block table_body %}
  <tr>
    <td><b>Formula:</b></td>
    <td>{{ object.html }}</td>
  </tr>
  <tr>
    <td><b>Name:</b></td>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <td><b>Isotopologue:</b></td>
    <td>{{ object.isotopologue.html }}</td>
  </tr>
  {% if object.isotopologue.ground_el_state_str %}
    <tr>
      <td><b>Resolves electronic states:</b></td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><b>Electronic ground state:</b></td>
      <td>{{ object.isotopologue.ground_el_state_html }}</td>
    </tr>
  {% else %}
    <tr>
      <td><b>Resolves electronic states:</b></td>
      <td>No</td>
    </tr>
  {% endif %}
  {% if object.isotopologue.vib_state_dim %}
    <tr>
      <td><b>Resolves vibrational states:</b></td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><b>Vibrational quantum numbers:</b></td>
      <td>{{ object.isotopologue.vib_quantum_numbers_html }}</td>
    </tr>
  {% else %}
    <tr>
      <td><b>Resolves vibrational states:</b></td>
      <td>No</td>
    </tr>
  {% endif %}
  <tr>
    <td><b>Mass (amu):</b></td>
    <td>{{ object.isotopologue.mass|floatformat:-5 }}</td>
  </tr>
  <tr>
    <td><b>Inchi key:</b></td>
    <td>{{ object.isotopologue.inchi_key }}</td>
  </tr>
  <tr>
    <td><b>States:</b></td>
    <td>
      <a href="{% url 'state-list' object.slug %}" class="elida-link">{{ molecule.isotopologue.number_states }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Transitions:</b></td>
    <td>
      <a href="{% url 'transition-list-mol_slug' object.slug %}" class="elida-link">{{ molecule.isotopologue.number_transitions }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Exomol dataset name:</b></td>
    <td>
      <a href="https://www.exomol.com/data/molecules/{{ object.slug }}/{{ object.isotopologue.iso_slug }}/{{ object.isotopologue.dataset_name }}" class="elida-link" target="_blank" rel="noopener noreferrer">{{ object.isotopologue.dataset_name }}</a>
    </td>
  </tr>
{% endblock table_body %}