{% extends "base_detail.html" %}

{% block table_body %}
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Formula:</b></td>
    <td class="text-start ps-3" style="width: 50%">{{ object.html }}</td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Name:</b></td>
    <td class="text-start ps-3" style="width: 50%">{{ object.name }}</td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Isotopologue:</b></td>
    <td class="text-start ps-3" style="width: 50%">{{ object.isotopologue.html }}</td>
  </tr>
  {% if object.isotopologue.ground_el_state_str %}
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Resolves electronic states:</b></td>
      <td class="text-start ps-3" style="width: 50%">Yes</td>
    </tr>
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Electronic ground state:</b></td>
      <td class="text-start ps-3" style="width: 50%">{{ object.isotopologue.ground_el_state_html }}</td>
    </tr>
  {% else %}
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Resolves electronic states:</b></td>
      <td class="text-start ps-3" style="width: 50%">No</td>
    </tr>
  {% endif %}
  {% if object.isotopologue.vib_state_dim %}
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Resolves vibrational states:</b></td>
      <td class="text-start ps-3" style="width: 50%">Yes</td>
    </tr>
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Vibrational quantum numbers:</b></td>
      <td class="text-start ps-3" style="width: 50%">{{ object.isotopologue.vib_quantum_numbers_html }}</td>
    </tr>
  {% else %}
    <tr>
      <td class="text-end pe-3" style="width: 50%"><b>Resolves vibrational states:</b></td>
      <td class="text-start ps-3" style="width: 50%">No</td>
    </tr>
  {% endif %}
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Mass (amu):</b></td>
    <td class="text-start ps-3" style="width: 50%">{{ object.isotopologue.mass|floatformat:-5 }}</td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Inchi key:</b></td>
    <td class="text-start ps-3" style="width: 50%">{{ object.isotopologue.inchi_key }}</td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>States:</b></td>
    <td class="text-start ps-3" style="width: 50%">
      <a href="{% url 'state-list' object.slug %}" class="elida-link">{{ molecule.isotopologue.state_set.count }}</a>
    </td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Transitions:</b></td>
    <td class="text-start ps-3" style="width: 50%">
      <a href="{% url 'transition-list-mol_slug' object.slug %}" class="elida-link">{{ molecule.isotopologue.transition_set.count }}</a>
    </td>
  </tr>
  <tr>
    <td class="text-end pe-3" style="width: 50%"><b>Exomol dataset name:</b></td>
    <td class="text-start ps-3" style="width: 50%">
      <a href="https://www.exomol.com/data/molecules/{{ object.slug }}/{{ object.isotopologue.iso_slug }}/{{ object.isotopologue.dataset_name }}" class="elida-link" target="_blank" rel="noopener noreferrer">{{ object.isotopologue.dataset_name }}</a>
    </td>
  </tr>
{% endblock table_body %}