{% extends "base_detail.html" %}

{% block table_body %}
  <tr>
    <td><b>Molecule:</b></td>
    <td>
      <a href="{% url 'molecule-detail-slug' object.isotopologue.molecule.slug %}" class="elida-link">{{ object.isotopologue.molecule.html }}</a>
    </td>
  </tr>
  {% if object.el_state_str %}
    <tr>
      <td><b>Electronic state:</b></td>
      <td>{{ object.el_state_html }}</td>
    </tr>
  {% endif %}
  {% if object.vib_state_str %}
    <tr>
      <td><b>Vibrational state:</b></td>
      <td>{{ object.vib_state_html }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><b>Energy (eV):</b></td>
    <td>{{ object.energy|floatformat:-5 }}</td>
  </tr>
  <tr>
    <td><b>Lifetime (s):</b></td>
    <td>
      {% if object.lifetime is None %}
        ∞
      {% else %}
        {{ object.lifetime|stringformat:".2e" }}
      {% endif %}</td>
  </tr>
  <tr>
    <td><b>Transitions from the state:</b></td>
    <td>
      {% if object.number_transitions_from %}
        <a href="{% url 'transition-list-from-state' object.pk %}" class="elida-link">{{ object.number_transitions_from }}</a>
      {% else %}
        0
      {% endif %}
    </td>
  </tr>
  <tr>
    <td><b>Transitions to the state:</b></td>
    <td>
      {% if object.number_transitions_to %}
        <a href="{% url 'transition-list-to-state' object.pk %}" class="elida-link">{{ object.number_transitions_to }}</a>
      {% else %}
        0
      {% endif %}
    </td>
  </tr>
{% endblock table_body %}