{% extends "base_datatable.html" %}

{% block table %}
  <thead>
  <tr>
    <th scope="col">Electronic state</th>
    <th scope="col">Vibrational state</th>
    <th scope="col">Energy (eV)</th>
    <th scope="col">Lifetime (s)</th>
    <th scope="col">Transitions from</th>
    <th scope="col">Transitions to</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
{% endblock table %}

{% block datatable_settings %}
  <script>
      $('#elida-datatable').DataTable({
          serverSide: true,
          ajax: {
              url: "{% url "state-list-ajax" mol_slug %}"
          },
          columns: [
              {name: "el_state_html", data: 0, {% if not resolves_el %}visible: false{% endif %}},
              {name: "vib_state_html", data: 1, {% if not resolves_vib %}visible: false{% endif %}},
              {name: "energy", data: 2, searchable: false},
              {name: "lifetime", data: 3, searchable: false},
              {name: "number_transitions_from", data: 4, searchable: false},
              {name: "number_transitions_to", data: 5, searchable: false},
          ],
          order: [[1, 'asc']],
      });
  </script>
{% endblock datatable_settings %}