{% extends "base_detail.html" %}

{% block table_body %}
  <tr>
    <td><b>Initial state:</b></td>
    <td>
      <a href="{% url 'state-detail-pk' object.initial_state_id %}" class="elida-link">{{ object.initial_state.species_html }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Final state:</b></td>
    <td>
      <a href="{% url 'state-detail-pk' object.final_state_id %}" class="elida-link">{{ object.final_state.species_html }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Partial lifetime (s):</b></td>
    <td>{{ object.partial_lifetime|stringformat:'.2E' }}</td>
  </tr>
  <tr>
    <td><b>Branching ratio:</b></td>
    <td>{{ object.branching_ratio|stringformat:'.2E' }}</td>
  </tr>
  <tr>
    <td><b>Δ<em>E</em> (eV):</b></td>
    <td>{{ object.d_energy|floatformat:-3 }}</td>
  </tr>
{% endblock table_body %}